ul.topnav {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #1b2538;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  color: white;
}

ul.topnav li a:hover:not(.active) {
  background-color: #a9bce2;
}

ul.topnav > li > div {
  background-color: #69696b;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 100px;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  transition: opacity 0.2s;
}
ul.topnav > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
}

ul.topnav > li > div ul {
  padding: 0;
}

ul.topnav > li > div ul > li {
  width: 100%;
  display: block;
}
ul.topnav > li > div ul > li > a {
  width: 100%;
  color: #ffffff;
  display: block;
  /* padding: 12px 24px; */
  text-decoration: none;
}
ul.topnav > li > div ul > li:hover > a {
  background-color: rgba(255, 255, 255, 0.1);
}
